.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../img/Lupa.svg") no-repeat;
    position: 1em;
}

.section__final{
    background-color: var(--branco);
    padding: 0.5em 0;
}

.banner__2{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 1em;
}

.banner__2__titulo{
    font-weight: 300;
    padding-bottom: 1.5em;
}

.banner__2__topicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.banner__2__topicos-boxes{
    background-color: var(--laranja);
    padding: 1em;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px){
    .banner__titulo{
        font-size: 36px;
    }

    .banner__pesquisa{
        width: 50%;
    }

    .banner__pesquisa::placeholder{
        background-position: 6em;
    }

    .banner__2__titulo{
        font-size: 24px;
    }

    .banner__2__topicos-boxes{
        font-size: 24px;
    }
}